.menu{
	width: 100%;
	margin: auto;
        margin-top: 70px;
        
}
.menu ul{
	list-style: none;
	        
}

.menu ul li{
	line-height: 20px;
        margin:2px;
        border-radius: 5px;   
        float: left;
}

.menu>li {
    float: left;
    margin-right: 15px;
    
}



.menu a:link, a:visited{
    background-color: #0040FF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.menu a:hover, a:active {
  color: red;
}

.sub-menu {
 display: none;
 position: absolute;
 
}
.menu li:hover .sub-menu {
 display: block;

}
.menu .sub-menu{
    padding: 5px 20px;
    
}

.pmdv{
    padding-top: 10px;
    margin-left: 30%;
}

.btn{
    float: left;
    margin-left: 40%;
}

.login1{
         
   background-color: bisque;
      
}

.thaydvbn{
    float: left;
}